button.Button {
    width: 30px;
    height: 30px;
    padding: 0;
    flex-grow: 1;
    color: #fff;
    background: #3b5d2f;
    font-size: 18px;
}

.Button_add{
    margin: 0 20px 0 5px;
}
.Button_remove{
    margin: 0 5px 0 20px;
}
.Button.Red{
    background: red;
}

.block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.block input{
    width: 20px;
    text-align: center;
}